# Exclude files related to uninstallation of SQL Server via PS script
Lab 1/Part 1 - Extra Task/Named Instance Installation/ConfigurationFile_Uninstall.ini
Lab 1/Part 1 - Extra Task/Named Instance Installation/UninstallNamedInstance.ps1